@layer components {
    .section-sm {
        width: var(--section-w);
        max-width: var(--breakpoint-sm);
        margin-left: auto; 
        margin-right: auto;
    }
    
    .section-md {
        width: var(--section-w);
        max-width: var(--breakpoint-md);
        margin-left: auto; 
        margin-right: auto;
    }
    
    .section-lg {
        width: var(--section-w);
        max-width: var(--breakpoint-lg);
        margin-left: auto; 
        margin-right: auto;
    }
    
    .section-xl {
        width: var(--section-w);
        max-width: var(--breakpoint-xl);
        margin-left: auto; 
        margin-right: auto;
    }
    
    .section-2xl {
        width: var(--section-w);
        max-width: var(--breakpoint-2xl);
        margin-left: auto; 
        margin-right: auto;
    }
}

@layer components {
    .responsive-grid-lg {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 24px;
        width: 100%;

        @media (min-width: 640px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        
        @media (min-width: 1024px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}