---
import { getCollection, render } from 'astro:content';
import { type LayoutProps } from '@/layouts/types';
import Layout from '@/layouts/Main.astro';


export async function getStaticPaths() {
    const projects = await getCollection('projects');
    return projects.map(project => ({
        params: { id: project.id },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);

const layoutProps: LayoutProps = {
    title: project.data.name,
    description: project.data.description
};
---

<Layout {...layoutProps}>
    <main class="p-header mb-20 w-full">
        <div class="section-md">
            <h1>{project.data.name}</h1>
            <Content />
        </div>
    </main>
</Layout>

<style>
    :root {
        --color-accent: var(--color-green);
    }
</style>